body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5 {
  position:absolute;
  left:4px;
  top:1px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7 {
  position:absolute;
  left:307px;
  top:1px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u9 {
  position:absolute;
  left:276px;
  top:4px;
  width:24px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11 {
  position:absolute;
  left:249px;
  top:2px;
  width:26px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u13 {
  position:absolute;
  left:228px;
  top:4px;
  width:15px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:2px;
  top:19px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:0px;
  top:596px;
  width:360px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:19px;
  top:37px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21 {
  position:absolute;
  left:65px;
  top:35px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:139px;
  top:170px;
  width:30px;
  height:22px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u29 {
  position:absolute;
  left:154px;
  top:171px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u31 {
  position:absolute;
  left:94px;
  top:327px;
  width:35px;
  height:35px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u33 {
  position:absolute;
  left:139px;
  top:293px;
  width:4px;
  height:16px;
  color:#E4E4E4;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:19px;
  top:232px;
  width:300px;
  height:300px;
  overflow:hidden;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u36 {
  position:absolute;
  left:125px;
  top:125px;
  width:49px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u38 {
  position:absolute;
  left:125px;
  top:129px;
  width:50px;
  height:41px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u40 {
  position:absolute;
  left:125px;
  top:130px;
  width:50px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
}
#u42 {
  position:absolute;
  left:134px;
  top:125px;
  width:33px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u44 {
  position:absolute;
  left:125px;
  top:129px;
  width:50px;
  height:42px;
}
#u45 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
